span {
  display: block;
  color: red;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  height: 30px;
}

.button {
  width: 150px;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}
